
.vs/dontbelatewebsite/FileContentIndex/8c9d175b-4703-4258-8c0c-72c46c97e081.vsidx
.vs/dontbelatewebsite/FileContentIndex/7c9424d8-c3c4-4475-8851-d1c10e74e7e8.vsidx
*.vsidx
.vs/dontbelatewebsite/v17/.wsuo
.vs/dontbelatewebsite/v17/.wsuo
